body {
    background-image: url("images/dust_scratches.png");
    background-color: #cccccc;
}

.answer {
    width: 110px;
    padding: 5px;
}

.answer:hover {
    background: aqua;
    border-left: 5px blue solid;

}

div {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    background: beige;
    border: 2px solid black;
    padding: 10px;

}